<% extends "layout.html" %>

<% block title %> - Dashboard<% endblock %>

<% block content %>
	<div class="row">
		<div class="col-md-3" ng-controller="DashboardNavbarCtrl" >
			<div class="hidden-xs hidden-sm affix dashboard-sidebar">
				<ul class="nav nav-pills nav-stacked">
					<li><a ng-click="home()" href="#">Home</a></li>
					<li><a ng-click="thingy()" href="#">Thingy</a></li>
					<li ng-repeat="i in [1,2,3,4,5]"><a href="#">{{i}}</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-9">
			<h1 data-ng-repeat="n in [] | range:100">Heyo</h1>
		</div>
	</div>
<% endblock %>