<% extends "layout.html" %>

<% block title %> - Dashboard<% endblock %>

<% block content %>
	<div class="row">
		<div class="col-md-3" ng-controller="DashboardNavbarCtrl" >
			<div class="hidden-xs hidden-sm affix dashboard-sidebar">
				<ul class="nav nav-pills nav-stacked">
					<li><a ng-click="viewMyProfile()" href="#"><i class="fa fa-user"></i> My Profile</a></li>
					<li><a ng-click="viewMyWallpapers()" href="#"><i class="fa fa-picture-o"></i> My Wallpapers</a></li>
					<li><a ng-click="viewMyPlaylists()" href="#"><i class="fa fa-th"></i> My Playlists</a></li>
					<li><a ng-click="viewBrowse()" href="#"><i class="fa fa-search"></i> Browse</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-9">
			<h1 data-ng-repeat="n in [] | range:100">Heyo</h1>
		</div>
	</div>
<% endblock %>