<% extends "layout.html" %>

<% block content %>
<div ng-controller="WallpaperSplashController">
  <h1>Wallpapers as a Service</h1>
  <div class="row">
    <div class="wallpaper-container col-md-8">
      <div class="wallpaper" ng-repeat="wallpaper in wallpapers" style="{{getStyle(wallpaper)}}">
        <img ng-src="{{wallpaper.source}}" alt="">
      </div>
    </div>
    <div class="col-md-4">
      <h2>Features</h2>
      <p>Tool that demonstrates the power of Flaash
        <br>
        <br>
        Based on cloud storage of wallpapers, waas has the following features
        <ul>
          <li ng-repeat="feature in features">{{feature.text}}</li>
        </ul>
      </p>
    </div>
  </div>  
</div>
<% endblock %>
