.wallpaper-container{
	position: relative;
	height:450px;
}

.wallpaper{
	width: 640px;
	height: 360px;
	-webkit-box-shadow: -3px 9px 5px rgba(160, 160, 160, 0.77);
	-moz-box-shadow:    -3px 9px 5px rgba(160, 160, 160, 0.77);
	box-shadow:         -3px 9px 5px rgba(160, 160, 160, 0.77);
	position: absolute;
}

.wallpaper img{
	max-width:100%;
	max-height:100%;
}

.dashboard-sidebar{
	width: 200px;

}

.dashboard-sidebar ul{
	background-color: #dedede;
	border-radius: 7px;
}
